{% extends 'UserBundle::layout.html.twig' %}

{% block body -%}
<div class="container">
    <h2>Edit symbol in my portfolio</h2>
    <div class="col-sm-6">

        {{ form(edit_form) }}
        {{ form(delete_form) }}
        <p>
            <a href="{{ path('portfolio') }}" class="btn btn-sm">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to portfolio
            </a>
        </p>

    </div>

</div>
{% endblock %}
